:root {
	--outline-color: #CCCCCC;
	--surface-color: #4E4E4E;
	--link-color: #BC66CB;
	--success-color: #44D21D;
	--app-padding-inline: 0.75rem;
}

body {
	background-color: #D2D4DA;
}

button, span {
  display: inline-flex;
  align-items: center;   /* vertical centering */
}

@media(min-width: 1024px){
	:root {
		--app-padding-inline: 18rem;
	}
}
